################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pico_sim_vs/.vs
/pico_sim_vs/x64
/pico_sim_vs/Debug
/pico_sim_vs/Release
/pico_sim_vs/pico_sim_vs/x64
/pico_sim_vs/pico_sim_vs/Debug
/pico_sim_vs/pico_sim_vs/Release
